HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Project ###
!**/src/main/**/application-dev.properties
!**/src/main/**/application-dev0.properties
!**/src/main/**/application-dev1.properties

/log

wxapp/wxapp_log/web_info.log
wxapp/wxapp_log/web_error.log
wxapp/wxapp_log/web_warn.log
*.log
*.yml
wxapp/src/main/resources/application.yml
*.yml
wxapp/src/test/java/com/abt/wxapp/sys/service/SystemSettingServiceTest.java
wxapp/src/test/java/com/abt/wxapp/cart/service/CartServiceTest.java
wxapp/src/test/java/com/abt/wxapp/user/client/repository/UserClientRepositoryTest.java
wxapp/src/test/java/com/abt/wxapp/user/userInfo/repository/OpenUserInfoRepositoryTest.java
wxapp/src/main/resources/logback-spring.xml
wxapp/src/main/resources/application.yml
wxapp/src/main/java/com/abt/wxapp/cart/entity/CheckModule.java
wxapp/src/main/java/com/abt/wxapp/cart/model/CartDTO.java
wxapp/src/test/java/com/abt/wxapp/user/client/service/ClientServiceTest.java
wxapp/src/test/java/com/abt/wxapp/user/favor/service/UserFavorServiceTest.java
wxapp/src/test/java/com/abt/wxapp/user/invoice/service/InvTitleServiceTest.java
wxapp/src/test/java/com/abt/wxapp/user/client/service/ClientServiceTest.java
wxapp/src/test/java/com/abt/wxapp/user/userInfo/service/UserServiceTest.java
common/src/test/java/com/abt/chkmodule/service/CheckModuleServiceTest.java
admin/src/main/resources/logback-spring.xml
admin/src/main/resources/logback-spring.xml
admin/src/main/resources/logback-spring.xml
bak/logback-spring.xml
wxapp/src/main/resources/application.yml
admin/src/main/resources/logback-spring.xml
admin/src/main/resources/application-yuan.yml
admin/src/main/resources/logback-spring.xml
bak/logback-spring.xml
wxapp/src/main/resources/application.yml
admin/src/main/resources/application-yuan.yml
admin/src/test/java/com/abt/testing/controller/CheckSettingControllerTest.java
