# --------- environment
server:
  port: 8081
  # servlet:
  #   context-path: /test

# --------- log
logging:
  level:
    org:
      springframework:
        data: trace
        jdbc:
          core:
            JdbcTemplate: debug
        security: TRACE
      hibernate:
        orm:
          jdbc:
            bind: TRACE
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        SQL: DEBUG
    com:
      abt: TRACE
      camunda: debug
    sql: trace
    web: DEBUG

spring:
  # ---- jpa
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
  # --------- datasource
  datasource:
    url: jdbc:sqlserver://localhost:1433;database=ZJData;trustServerCertificate=true
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    username: sa
    password: "123456"
    # password: abt@23328
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 20
    
  # --------- messages
  messages:
    basename: i18n/message

# ---- camunda wf
camunda:
  bpm:
    history-level: full
    admin-user:
      id: demo
      password: demo
    filter:
      create: All Tasks
    database:
      schema-update: true
    auto-deployment-enabled: true
    job-execution:
      enabled: false

# --------- file
com:
  abt:
    file:
      upload:
        save: E:\\upload
        temp: temp-attachments

# ---------- spring doc/swagger
springdoc:
  swagger-ui:
    path: /swagger-ui.html

# --------- webapi
webapi:
  http:
    ip: localhost
    port: 52789
    base: /api
    protocol: http://
    token:
      key: X-Token
    uri: http://localhost:52789/api
    # uri: http://192.168.0.181:52789/api
    # ip: 7386n59g91.goho.co
    # port: 10008
    # uri: http://7386n59g91.goho.co:10008/api

# ----- fieldwork excel model
abt:
  fw:
    excel:
      output: E:\\fw_atd\\
    export:
      template: E:\\fw_atd\\fieldwork_atd_model2.xlsx
      tempfile:
        path: E:\\fw_atd\\fw_export.xlsx
  
  # ------ app
  app:
    bak:
      android:
        dir: /05_app_bak/android/
      ios:
        dir: /05_app_bak/ios/
    run:
      android:
        url: /05_app_bak/run/android_apk.apk
      ios:
        url: /05_app_bak/run/ios_apk.apk
      dir: /05_app_bak/run/
  
  # ---- templates
  rbs:
    excel:
      template: template/rbs_template.xlsx
      dtl:
        template: template/rbs_dtl_template.xlsx
    pur:
      dir: C:\\Users\\Administrator\\Desktop\\temp\\
  
  pay:
    excel:
      template: template/pay_template.xlsx
      
  pur:
    excel:
      template: template/purchase_apply_template.xlsx
    accept:
      excel:
        template: template/purchase_accept_template.xlsx
    tmp:
      name: purchase.xlsx
      
  trip:
    excel:
      template: template/trip_template.xlsx
      
  temp:
    dir: C:\\Users\\Administrator\\Desktop\\temp\\
  
  # ---- stock
  stock:
    inv:
      export:
        template: template/materials_inventory_template.xlsx
      alert:
        export:
          template: template/inventory_alert_template.xlsx
          template2: template/inventory_alert_template2.xlsx
    export:
      week:
        template: template/stock_gift_export.xlsx
        path: C:\\Users\\Administrator\\Desktop\\temp\\
  
  # ---- signature
  sig:
    dir: F:\\sig\\
    
  # ---- sl check
  sl:
    check: C:\\Users\\Administrator\\Desktop\\
    
  # ---- wf sbct
  wf:
    sbct:
      rock:
        template: template/sbct_samplelist_rock.xlsx
      fluid:
        template: template/sbct_samplelist_fluid.xlsx
      form:
        template: template/sbct_form_export.xlsx
      export:
        dir: C:\\Users\\Administrator\\Desktop\\temp\\


  # --- settlement
  settlement:
    excel:
      template: template/settlement_template.xlsx